@keyframes colorTransition {
  0% {
    background-color: #fdefc7;
  }
  12.5% {
    background-color: #dbeafe;
  }
  25% {
    background-color: #fecaca;
  }
  37.5% {
    background-color: #c6f6d5;
  }
  50% {
    background-color: #fbcfe8;
  }
  62.5% {
    background-color: #a7f3d0;
  }
  75% {
    background-color: #e9d8fd;
  }
  87.5% {
    background-color: #fef3c7;
  }
  93.75% {
    background-color: #f59e0b;
  }
  100% {
    background-color: #ccf3ac;
  }
}

.bg-transition {
  animation: colorTransition 7s infinite;
}
